body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("/public/images/sunset-vect.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(245, 245, 245, 0.7);
  font-family: "Outfit", sans-serif;
  max-width: 600px;
  margin: 120px auto;
}
@media (max-width: 800px) {
  body {
    margin: 60px auto;
  }
}
