.WeatherForecast {
  text-align: center;
  padding: 20px 0;
}
.WeatherForecastDay .WeatherForecastDay-day {
  color: rgb(237, 77, 119, 0.8);
}
.WeatherForecastDay .WeatherForecastDay-icon {
  max-width: 75px;
}
.WeatherForecastDay .WeatherForecastDay-wind-speed {
  font-size: 12px;
}
